<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">وبمارکت</a>
          </li>
          <li><span class="icon-chevron-right"></span></li>
          <li>
            <a href="contact.html">ارتباط با ما</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="push-up top-equal blocks-spacer-last">
    <div class="row">

      <!--  ==========  -->
      <!--  = Main Title =  -->
      <!--  ==========  -->

      <div class="span12">
        <div class="title-area">
          <h1 class="inline"><span class="light">با ما</span> ارتباط برقرار کنید.</h1>
        </div>
      </div>

      <!--  ==========  -->
      <!--  = Main content =  -->
      <!--  ==========  -->
      <section class="span8 single single-page">

        <!--  ==========  -->
        <!--  = Contact Form =  -->
        <!--  ==========  -->
        <section class="contact-form-container">

          <h3 class="push-down-25"><span class="light">ارسال</span> پیام</h3>

          <form [formGroup]="editUser" (ngSubmit)="submitEditUser()" class="form form-inline form-contact">


            <p class="push-down-20">
              <input formControlName="firstName" type="text" aria-required="true" tabindex="1" size="30" id="author">
              <label for="author">نام<span class="red-clr bold">*</span></label>
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.firstName.errors?.required && editUser.controls.firstName.touched">
              لطفا نام خود را وارد نمایید
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.firstName.errors?.maxlength && editUser.controls.firstName.touched">
              تعداد کاراکترها نمیتواند بیشتر از 100 باشد
            </p>



            <p class="push-down-20">
              <input formControlName="lastName" type="text" aria-required="true" tabindex="2" size="30" id="email">
              <label for="email">نام خانوادگی<span class="red-clr bold">*</span></label>
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.lastName.errors?.required && editUser.controls.lastName.touched">
              لطفا نام خانوادگی خود را وارد نمایید
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.lastName.errors?.maxlength && editUser.controls.lastName.touched">
              تعداد کاراکترها نمیتواند بیشتر از 100 باشد
            </p>



            <p class="push-down-20">
              <input formControlName="address" type="text" tabindex="3" size="30" id="url">
              <label for="url">آدرس</label>
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.address.errors?.required && editUser.controls.address.touched">
              لطفا آدرس خود را وارد نمایید
            </p>
            <p class="text-error"
              *ngIf="editUser.controls.address.errors?.maxlength && editUser.controls.address.touched">
              تعداد کاراکترها نمیتواند بیشتر از 100 باشد
            </p>



            <p>
              <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">ارسال پیام</button>
            </p>
          </form>
        </section>

      </section> <!-- /main content -->

      <!--  ==========  -->
      <!--  = Sidebar =  -->
      <!--  ==========  -->
      <aside class="span4">
        <app-user-side-bar></app-user-side-bar>
      </aside> <!-- /sidebar -->
    </div>
  </div>
</div> <!-- /container -->

<swal #sweetAlertSuccess text="" icon="success" [showCancelButton]="true" [focusCancel]="true">
</swal>